@model SeaCleaner.ViewModels.RatingViewModel;

<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-info col-xs-12">
            <h2 class="col-xs-8">Игра <strong>Sea Cleaner</strong> </h2>
            <div style="float:right">
                @if (User.Identity.IsAuthenticated)
            {
                    <span style="color:purple; font-size:large">@User.Identity.Name</span>

                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Выход" class="btn btn-link" />
                    </form>
                }
                else
                {
                    <span>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-link">Вход</a>
                        <a asp-action="Register" asp-controller="Account" class="btn btn-link">Регистрация</a>
                    </span>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Play" asp-controller="Game" class="btn btn-lg btn-danger col-xs-2 col-xs-offset-5">ИГРАТЬ</a>
    }
    else
    {
        <h5 class="alert alert-warning col-xs-4 col-xs-offset-4">Войти / зарегистрироваться для начала игры</h5>
    }
</div>
<div class="row">
    <div class="col-xs-7">
        <h2>Легенда</h2>
        <p>
            Ежегодно в Мировой океан сбрасываются сотни тонн мусора. Он плавает на поверхности и в толще воды на разной глубине.
            Морские животные очень часто страдают от этого. Многие из них гибнут.
        </p>
        <p>
            Вам предстоит принять управление специальным кораблем с захватывающим механизмом, который позволит Вам вытаскивать мусор из океана.
            Этим вы спасете многих морских существ, но не мешкайте! Упущенное время может дорого стоить. И не забывайте, что сам подъемный
            механизм тоже может поранить животных.
        </p>
        <h2>Управление</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="150px"><b>p</b></td>
                    <td>Пауза</td>
                </tr>
                <tr>
                    <td><b>&lArr; &rArr;</b></td>
                    <td>Перемещение корабля влево и вправо</td>
                </tr>
                <tr>
                    <td><b>&dArr; &uArr;</b></td>
                    <td>Погружение / поднятие захватного механизма</td>
                </tr>
                <tr>
                    <td><b>(Spase)</b></td>
                    <td>Захват / освобождение мусора</td>
                </tr>
                <tr>
                    <td colspan="2">Чтобы вытащить мусор, наведите на него захватный механизм (&lArr;, &rArr;, &dArr;, &uArr;), захватите его (Space), и поднимите его как можно ближе к поверхности</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-4">
        <h2>Лучшие результаты</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Место</td>
                    <td>Игрок</td>
                    <td>Спасено</td>
                    <td>В игре</td>
                    <td>Дата</td>
                    <td>Время</td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ResultsList.Count; i++)
                {
                    <tr @if(User.Identity?.Name == Model.ResultsList[i].UserName)
                        {
                         @:style="background-color:orangered; font-weight:bold;color:whitesmoke"
                        }>
                        <td>@(i+1)</td>
                        <td>@Model.ResultsList[i].UserName</td>
                        <td>@Model.ResultsList[i].Dolphins</td>
                        <td>@Model.ResultsList[i].GameTime</td>
                        <td>@Model.ResultsList[i].GameDate.ToString("yyyy.MM.dd")</td>
                        <td>@Model.ResultsList[i].GameDate.ToString("hh:mm")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
